/* #070F2B -negru
#1B1A55 -albastru inchis
#535C91 -albastru deschis
#9290C3 -albastru sters */
*{
margin: 0;
padding: 0;
color:white;
text-size-adjust: auto;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
html, body {
    min-height: 100%;
}
h6{font-size: 12pt;
text-align: center;
margin-bottom: 0.4rem;
margin-top: 0.2rem;}
.asezare .img { flex-shrink: 0;
height: min-content; }

body{ background-color: #070F2B; }

body.graf { background-color: #9290C3; }
body.tipuri{background-color: #9290C3;}
div.asezare{display: flex;}

aside{width: 17rem;
height: 50rem;
background-color: #9290C3;
border-right-style:solid;
border-right-width:1px ;
box-shadow: 0 2px 3px 0 #9290C3, 0 4px 10px 0 #535C91;
border-right-color:transparent;
overflow-y: scroll;


}
.sidemain{
    display: flex;
}
.tipurimain{flex-shrink: 2;
    width: 100%;
    border-left-style:solid;
    border-left-width:1px ;
    box-shadow: 0 2px 0 0 #030303, 0 4px 0 0 #535C91;
    border-left-color:transparent;
}
.tips{margin-left: 4rem;}
header{ background-color: #1B1A55;
    top: 0;
height: 4rem;
width: 100%;
position: fixed;
display: flex;
border-bottom-style:solid;
border-bottom-width:1px ;
box-shadow: 0 2px 3px 0 #9290C3, 0 4px 10px 0 #535C91;
border-bottom-color:transparent;
z-index: 1;
justify-content: space-between 3rem;
align-items: center;

}
#tip{text-align: center;
font-size: 25pt;
margin-top: 8rem;}
.logo{padding-left: 2rem;
padding-right: 50%;
background-color: #1B1A55;}
.as{display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    text-decoration:none;
    color:rgb(99, 99, 227);
    padding-left:  0.5rem; 
    padding-right:  0.5rem;
    background-color: #1B1A55;

    border-radius: 8px;
    border-width: 1.25px;
    border-color: transparent;
    border-style: solid;
};

.as:hover{

    color:#1B1A55;
    background-color: #9290C3;
    
    border-color: #535C91;
    
}
a{text-decoration: none;}
.lik{border:solid white 0.2rem;
    color:#535C91;
    padding: .5rem;
border-radius: 100vw;
}
label{display: block;}
footer{background-color: #1B1A55;
    height: 5rem;
    width: 100%;
    bottom: 0;
    display: flex;
    border-top-style: solid;
    border-top-width:1px ;
    box-shadow: 2px 0 3px 0 #ffffff,4px 0 10px 0 #535C91;
    border-top-color:transparent;
    z-index: 1;
    position: fixed;
}
.nav-links{
    display:inline-flex;
    text-decoration: none;
    color:rgb(99, 99, 227);

}
.nav-links a{
    padding: 0 1rem;
    text-decoration: none;
}
.nav-links a::after{
    content:'';
    background-color: #c8c8fe;
    width: 0%;
    height: 0.3rem;
    border-radius: 100vw;
    margin:auto;
    display:block;
    transition: width 0.5s;
}
.nav-links a:is(:hover, .sel)::after {
    width:100%;
}
h1{
    
    text-align: center;
margin-top: 5%;
font-size: 5rem;
text-shadow: #535C91 5px;
background-color: transparent;

}
p{font-size: 1.5rem;
  text-align:  center;
padding: 2rem;
margin-left: 4rem;
margin-right: 4rem;

}


ul {
    margin-left: 7ch;
}
